input[type=number].small-text {
	height: 28px
}

/* Tabs borrowed with love from WPRocket */
#sfpptabs {
	background-color: #fff;
	padding: 5px;
	border-top-width: 0;
	border-right: 1px solid rgb(204, 204, 204);
	border-bottom: 1px solid rgb(204, 204, 204);
	border-left: 1px solid rgb(204, 204, 204);
}

.sfpp-tab {
	padding: 0 10px
}

.sfpp-tab-txt h2 {
	font-size: 20px
}

.sfpp-tab-txt ul {
	list-style-type: disc;
	padding-left: 1em
}

#tab_faq th {
	display: none
}

.sfpp-move-deferred {
	cursor: move
}

.sfpp-tab-txt ol li {
	line-height: 0.5em
}

.sfpp-tab-txt ol li h2 {
	line-height: 0.5em
}

.sfpp-tab-txt ol li h2 a {
	font-size: 0.8em
}

.button-link:after {
	content: " \f310";
	font-size: 1.1em;
	padding-left: 3px
}

#banner {
	background: white;
	border: 1px solid rgb(204, 204, 204);
	padding: 25px;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
}

#main {
	width: 70%;
	float: left;
	margin-right: 5%;
}

#aside {
	float: left;
	width: 250px;
}

.sfpp-api-key {
	width: 239px;
	box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, .1);
	color: #444;
	text-decoration: none;
	white-space: nowrap;
	line-height: 24px;
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 0 0 8px;
	height: 25px;
	border: 1px solid #aaa !important;
	border-radius: 5px;
	background-color: #fff;
	background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(20%, #fff), color-stop(50%, #f6f6f6), color-stop(52%, #eee), color-stop(100%, #f4f4f4));
	background: -webkit-linear-gradient(top, #fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
	background: -moz-linear-gradient(top, #fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
	background: -o-linear-gradient(top, #fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
	background: linear-gradient(top, #fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
}

.sfpp-align-left {
	text-align: left !important;
}

.sfpp-align-left h3 {
	margin: 0 0 5px 0;
}

.sfpp_help_label {
	display: block;
	font-style: italic;
	margin: 0.5em auto;
}

/* Submit button wrap borrowed with love from GiveWP - Matt Cromwell & Devin Walker */
.sfpp_submit_wrap {
	clear: both;
	background: #f5f5f5;
	overflow: auto;
	margin: 8px 0;
	padding: 9pt;
	border: 1px solid #dfdfdf;
	font-size: 13px;
	line-height: 2.1em;
}

.nav-tab-active, .nav-tab-active:hover {
	border-bottom: 1px solid #cccccc;
	background: #f5f5f5;
	color: #000;
}